<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID">

	<!-- <display-name>Login</display-name> -->

	<welcome-file-list>
		<welcome-file>login.xhtml</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>Faces Servlet</servlet-name>
		<servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>Faces Servlet</servlet-name>
		<url-pattern>*.xhtml</url-pattern>
	</servlet-mapping>

	<!-- Login filter -->
	<filter>
		<filter-name>LoginFilter</filter-name>
		<filter-class>es.unican.supermercado.web.LoginFilter</filter-class>
	</filter>
	
	<!-- Set the login filter to secure all the pages in the /app/* path of the application  -->
	<filter-mapping>
		<filter-name>LoginFilter</filter-name>
		<url-pattern>/app/*</url-pattern>
	</filter-mapping>

	<security-constraint>

		<web-resource-collection>
			<web-resource-name>supermercado-web</web-resource-name>
			<url-pattern>/administration.xhtml</url-pattern>
		</web-resource-collection>

		<auth-constraint>
			<role-name>ADMIN</role-name>
		</auth-constraint>

		<user-data-constraint>
			<transport-guarantee>CONFIDENTIAL</transport-guarantee>
		</user-data-constraint>

	</security-constraint>

	<security-role>
		<role-name>ADMIN</role-name>
	</security-role>

	<login-config>
		<auth-method>BASIC</auth-method>
		<realm-name>file</realm-name>
	</login-config>

</web-app>