.btnAdd{
	height: 60px;
	width: 60px;
    background: url(../img/add.png.xhtml?ln=theme);
    background-size: 60px 60px;
    background-repeat: no-repeat;
    border: 0px;
}

.btnDel{
	height: 60px;
	width: 60px;
    background: url(../img/remove.png.xhtml?ln=theme);
    background-size: 60px 60px;
    background-repeat: no-repeat;
    border: 0px;
}

.pure-button {
    margin-left: 10px;
    margin-top: 10px;
}

img.icon {
    width: 60px;
    height: 60px;
}

.inline {
	display: inline-block;
}
.separated {
	margin-left: 100px;
}